<div>
    <strong>
        {{peticion.titulo}}
    </strong>
    <div>
        <strong>Fecha:</strong> {{peticion.detalles[0]?.fecha_mov | date}} - <strong>Area:</strong>
        {{area?.desarea}} - <strong>Descripcion:</strong> {{peticion.despeticion}} - <strong>Fecha
            ultimo cambio:</strong> {{peticion.detalles[peticion.detalles.length - 1]?.fecha_mov |
        date}} - <strong>Estado:</strong> {{peticion.estado}}
    </div>
    <div class="m-t" *ngIf="!(peticion.estado == 'COMPLETADA')">
        <div class="btn-group">
            <button type="button" (click)="cancelarPeticion()" class="btn btn-w-m btn-danger">Cancelar</button>
        </div>
    </div>
    <div class="m-t" *ngIf="peticion.estado == 'COMPLETADA'">
        <div class="btn-group">
            <button type="button" (click)="finalizarPeticion()" class="btn btn-w-m btn-primary">Finalizar</button>
            <!--<button type="button" [disabled]="peticion.estado == 'COMPLETADA'" (click)="nofinalizarPeticion()" class="btn btn-w-m btn-primary">no finalizar</button>-->
        </div>
    </div>
</div>