<div id="wrapper" style="min-height: 1vh;">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">

                <app-usuario></app-usuario>
                
                <app-menu></app-menu>

            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        
        <app-cabecera></app-cabecera>
        
        <app-body></app-body>

    </div>
</div>
