<li class="active">
    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Tablas Maestras</span> <span
            class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a [routerLink]="'master/tipodocs'">Tipo de Documento</a></li>
        <li><a [routerLink]="'master/empresas'">Empresas</a></li>
        <li><a [routerLink]="'master/areascargos'">Areas y Cargos</a></li>
        <li><a [routerLink]="'master/softwares'">Software y Tipos</a></li>
        <li><a [routerLink]="'master/tipodireccion'">Tipos Dirección</a></li>
        <li><a [routerLink]="'master/tipotelefono'">Tipos Telefono</a></li>
        <li><a [routerLink]="'master/tipoemails'">Tipos Emails</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Personal</span></a>
</li>
<li>
    <a [routerLink]="'solicitudes'"><i class="fa fa-wrench"></i> <span class="nav-label">Solicitudes</span></a>
</li>
<li >
    <a href="#"><i class="fa fa-list-alt"></i> <span class="nav-label">Proyectos</span> <span
            class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a [routerLink]="'proyectos'">Gestion</a></li>
    </ul>
</li>